.divButton{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.Layout{
    background: #491371;
    font-family: Arial, sans-serif;
}

.FormStudent{
    display: grid;
    justify-content: center;
    width: 100%;

}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.loadingText {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.Form{
    padding: 20px;
    border-radius: 10px;
    background: #141414;
    width: 22rem;
    margin: 2rem auto 2rem auto;
}

.TextForm{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10%;
}

.Button {
    background-color: #d3d3d3; /* Light grey background color */
    border: none;
    border-radius: 5px;
    color: #333333; /* Dark text color */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

.divGraph{
    height: 35rem;
}



@media (min-width: 768px){
    .ButtonHistory{
        right: 4rem;
        width: 10rem;
        top: 2rem;
    }
    .Form{
        margin-top: 2rem;
        width: 50rem;
        padding: 0 5rem 0 5rem;
    }
    .DateDiv{
        display: flex;
        justify-content: space-between;
        height: 30%;
        margin-top: 10%;

    }
    .TextForm{
        margin-top: 0;
    }
    .DivCalificationButton{
        display: flex;
        justify-content: center;
        margin: 3rem 0 1rem 0;

    }
    .StudentCard{
        width: 50rem;
        margin: 2rem auto 2rem auto;
    }

    .divDetails{
        display: flex;
        justify-content: center;
        margin: 0 0 3rem 0;
    }
    .DivCalification{
        margin: auto;
        width: 40%
    }
    .divGraph{
        margin: auto;
    }


}
